# .gitignore

# Node.js
node_modules/
npm-debug.log

# React build output
client/build/

# Server logs
server/logs/

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor artifacts
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.sublime*
*.iml
.idea/
*.log

# OS artifacts
.DS_Store
Thumbs.db

# Configuration files with sensitive information (maybe eventually configure)
#lineage.conf